
.article{
    width:32%;
    height: 300px;
    text-overflow: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: rgb(255, 255, 255);
    & > .title{
        font-size: 18px;
        width: 90%;
        text-align:left;
        padding:10px;
        overflow-wrap: break-word;
    }
}