$menu-color: #1d1b1b;
$nav-color: rgb(255, 255, 255);
$background-color: rgb(238, 238, 238);
$text-color: #F7F1E7;
$text-color-2 :rgb(0, 0, 0);
$line-color-1 :rgba(214, 214, 214, 0.438);

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;